
body {
  margin: 0 auto;

  font-family: monospace;
  line-height: 1.5;

  background-color: white;
}

.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#title {
  text-align: center;
}
.subheading {
  text-align: center;
}

.background-color {
  background-color: #4d8552;
}

h1 {

}

img {
  max-width: 100%;
  height: auto;
}
