* {
  margin: 0 auto;
  padding: 0;
}
body {
  display: block;
    font-family: monospace;
  line-height: 1.5;

  background-color: white;
}

.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

#title {
  text-align: center;
}

h1 {
  font-size: 20px;
  font-weight: bold;
}
.subheading {
  text-align: center;
  font-style: italic;
}

.background-color {
  background-color: #4d8552;
}


img {
  max-width: 100%;
  height: auto;
}

figcaption {
  text-align: center;
}
